@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

/* Ensure body and html tags do not have additional padding or margin */
html, body {
  font-family: "Madimi One", sans-serif;
  position: relative;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%; 
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  min-height: 100vh;
  overflow: hidden;
}

button {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
